.feature__point--n1 {
  top: -1rem;
  left: 47rem;
  position: absolute;
  cursor: pointer;
}

.feature__point--n2 {
  top: 13rem;
  left: 41rem;
  position: absolute;
  cursor: pointer;
}

.feature__point--n3 {
  top: 16rem;
  left: 48rem;
  position: absolute;
  cursor: pointer;
}

.feature__point--n4 {
  top: 25rem;
  left: 51rem;
  position: absolute;
  cursor: pointer;
}
.feature__point--n5 {
  top: 24rem;
  left: 66rem;
  position: absolute;
  cursor: pointer;
}
.feature__point--n6 {
  top: 39rem;
  left: 59rem;
  position: absolute;
  cursor: pointer;
}

.feature__point--n7 {
  top: 43rem;
  left: 56rem;
  position: absolute;
  cursor: pointer;
}

.feature__point--n8 {
  top: 52rem;
  left: 38rem;
  position: absolute;
  cursor: pointer;
}
