.slider__pagination {
  position: relative;
  display: flex;
  justify-content: center;
  left: 50%;
  top: -8rem;
  z-index: 100;
  .swiper-pagination-bullet {
    background-color: #2b3350;
  }
}

@media (max-width: 48em) {
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 4px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 4px)
    );
  }
}
