.drive__title {
  @include font(900, 4.4rem, 120%);
  margin-bottom: 1.6rem;
  max-width: 68rem;
}
@media (max-width: 48em) {
  .drive__title {
    @include font(900, 5.5rem, 127%);
    margin-bottom: 2.5rem;
  }
}
